body {
    margin: 0px;
    background-color: rgb(230, 230, 230);
    font-family: "Noto Sans KR", sans-serif;
}
header {
    z-index: 11;
    cursor: default;
    position: sticky;
    top: 0px;
    background-color: white;
    border: 0px;
    height: 60px;
}
h1 {
    display: inline;
    position: relative;
    bottom: 8px;
    left: 18px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(28, 209, 101);
}
header .web-logo {
    position: relative;
    top: 6px;
    left: 20px;
}
header .user-profile {
    cursor: pointer;
    display: inline;
    float: right;
    position: relative;
    top: 15px;
    right: 20px;
}
header .user-profile img {
    width: 30px;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 50%;
}
header .user-profile .user-info {
    cursor: default;
    display: none;
    background-color: white;
    border: 2px solid gray;
    border-radius: 15px;
    position: fixed;
    right: 20px;
    top: 55px;
    width: 150px;
    min-height: 300px;
    padding: 20px;
}
.user-info .user-profile-container .user-profile {
    border: 0px;
    float: left;
    top: 0px;
    right: 0px;
}
.user-info .user-name-container {
    position: relative;
    left: 5px;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}
.user-info .position {
    position: relative;
    left: 5px;
    bottom: 1px;
    color: gray;
    font-weight: 500;
}
.user-info hr {
    width: 150px;
    margin: 15px 0px 10px 0px;
    border: 0px;
    border-top: 2px solid rgb(151, 151, 151);
    z-index: 11;
}
nav {
    z-index: 10;
    background-color: white;
    position: sticky;
    top: 60px;
    height: 50px;
}
nav ul {
    height: 40px;
    padding: 0px;
    list-style: none;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
nav ul li {
    cursor: pointer;
    font-weight: 400;
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    transition-duration: 0.3s;
}
nav ul li:hover {
    background-color: rgb(200, 200, 200);
}
a {
    color: black;
}
